@media (max-width:1180px) {
    .contacts-row__item {
        padding-left: 10px;
    }
}

@media (max-width:1105px) {

    .contacts__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-form {
        display: block;
    }

    .main-form input[type=text]:not(:nth-child(2n+1)) {
        margin-left: 0;
    }

    .main-form input[type=text] {
        width: 100%;
        margin-left: 0;
        margin-right: 5px 25px;

    }

    .main-form textarea {
        width: 100%;
    }

    .contacts-row {
        min-width: 300px;
    }

    .main-form p {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media (max-width:1139px) {

    .latest-works__gallery__item:not(:nth-child(3n+1)) {
        margin-left: 0;
    }

    .latest-works__gallery__item:not(:nth-child(2n+1)) {
        margin-left: 30px;
    }
}

@media (max-width:1120px) {

    .about-us__article {
        padding: 15px;
    }
}

@media (max-width:1100px) {

    .services__items {
        justify-content: center;
    }

    .about-us__slider__item:first-child {
        margin-left: auto;
    }

    .about-us__slider__item:last-child {
        margin-right: auto;
    }
}

@media (max-width:963px) {

    .recent-posts__article {
        flex-wrap: wrap;
    }


    .recent-posts__article img {
        padding: 50px;
        order: 2;
    }
}

@media (max-width:749px) {

    .latest-works__gallery__item {
        margin: 10px 10px;
    }

    .latest-works__gallery__item:not(:nth-child(2n+1)) {
        margin-left: 10px;
    }

    .latest-works__gallery__item:not(:nth-child(3n+1)) {
        margin-left: 10px;
    }


}

@media (max-width:700px) {

    .burger-menu {
        display: block;
    }

    .header__nav ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 50;
    }

    .header__nav li {
        display: block;
        text-align: center;
    }

    .header__nav a {
        display: block;
        background-color: #E08428;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .header__nav li+li {
        padding-left: 0;
    }
}

@media (max-width:620px) {
    .about-us__articles {
        display: block;
    }

    .contacts__content {
        display: block;
    }
}

@media (max-width:500px) {
    .header__title {
        font-size: 36px;
    }

    .header__subtitle {
        font-size: 18px;
    }

    .call-to-action__section__text {
        font-size: 24px;
        line-height: 38px;
    }
}

@media (max-width:450px) {

    .latest-works__filter {
        flex-wrap: wrap;
        max-width: 400px;
    }

    .latest-works__gallery__item img {
        width: 250px;
    }

    .latest-works__gallery__item-bg {
        width: 250px;
        height: 222px;
    }

    .latest-works__gallery__item__additional-info {
        top: 45px;
    }

    .recent-posts__article img {
        display: none;
    }

    .recent-posts__article__author {
        padding-bottom: 10px;
    }
}

@media (max-width:380px) {
    .clients-slider {
        padding-top: 50px;
    }

    .owl-carousel {
        padding-bottom: 50px;
    }

    .owl-carousel.clients-slider .owl-item img {
        margin: 0 auto;
    }
}

@media (max-width:350px) {
    .call-to-action__section__text {
        font-size: 18px;
        line-height: 28px;
    }

    .recent-posts__article__date {
        margin-bottom: 15px;
        padding-top: 40px;
    }
}





@media (min-width:700px) {
    .header__nav ul {
        display: flex !important;
    }
}