/* Общие стили */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Общие стили */

/* Хедер */
.header {
    background: url("../img/header-bg.jpg") top center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.header__inner {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header__row {
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: flex-end;
}

.header__logo {
    display: flex;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
}

.header__nav li + li {
    padding-left: 35px;
}

.header__nav a:hover {
    color: #d4e77b;    
}

/* Burger menu */

.burger-menu {
    display: none;
}

.burger-menu__line {
    width: 35px;
    height: 5px;
    background-color: darkgrey;
    margin: 6px 0;
  }
/* Burger menu */

.header__info {
    text-align: center;
}

.header__info-wrapper {
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 600px;
}

.header__title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
}

.header__subtitle {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}

.btn {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 30px;
    border: 3px solid #ffffff;
    text-transform: uppercase;
    transition: all .3s;
}

.btn:hover {
    color: #c0301c;
    background-color: #ffffff;
}

/* Хедер */

/* Раздел Services */
.services {
    background-color: #ffffff;
}

.section__info {
    position: relative;
    padding-top: 100px;
    text-align: center;
    color: #555555;
    
}
.section__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    
}

.section__title:after {
    content: "";
    position: absolute;
    background-color: #555555;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 50px;
}

.section__subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 70px;
}

.services__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.services__item {
    color: #555555;
    text-align: center;
    width: 365px;
    margin-bottom: 50px;
}

.services__item__icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    background-image:url(../img/services-font-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.services__item__icon:hover {
    background-color: #c0301c;
    background-image:url(../img/services-font-icon-hover.png);
}

.services__item__icon-2 {
    background-image:url(../img/services-code-icon.png);
}

.services__item__icon-2:hover {
    background-image:url(../img/services-code-icon-hover.png);
}

.services__item__icon-3 {
    background-image:url(../img/services-support-icon.png);
}

.services__item__icon-3:hover {
    background-image:url(../img/services-support-icon-hover.png);
}

.services__item__title {
    text-transform: uppercase;
    font-weight: 600;
    
}

.services__item__text {
    font-family: 'Roboto Slab', serif;
    margin-top: 25px;
    font-weight: 500;
}
/* Раздел Services */

/* Раздел About-Us */

.about-us {
    background-color: #f8f8f8;
}

.about-us__articles {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    color: #555555;    
    margin-bottom: 70px;
}

/* Слайдер */
.owl-carousel {
    padding-bottom: 100px;
}

.owl-carousel.clients-slider .owl-item img {
    width: auto;
    margin: 0 50px;
}

.about-us__slider__item {
    
    text-align: center;
    color: #555555;
    max-width: 263px;
}

.about-us__slider__item:not(:first-child) {
    margin-left: 30px;
}


.about-us__slider__item__name {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 20px;
}

.about-us__slider__item__position {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 500;
}

.about-us__slider__item__img__wrapper {
    position: relative;
}

.about-us__slider__item__img {
    max-width: 263px;
    max-height: 250px;
}

.about-us__slider__item__img-bg {
    position: absolute;
    background-color: rgba(85, 85, 85, 0);
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.about-us__slider__item__img__wrapper:hover .about-us__slider__item__img-bg {
    background-color: rgba(85, 85, 85, 0.5);
}

.about-us__social {
    position: absolute;
    display: none;
    justify-content: center;
    margin: 0 auto;
    width: 130px;
    bottom:35px;
    right:0;
    left: 0;
}

/* .about-us__social img {
     align-items: center;

} */

.about-us__social li {
    padding: 5px 10px;
    transition: all .2s;
}

.about-us__slider__item__img__wrapper:hover .about-us__social {
    display: flex;
}

.about-us__social li:hover {
    background-color: #c0301c;
}
/* Слайдер */
/* Раздел About-Us */

/* Раздел Latest works */

.latest-works__filter {
    display: flex;
    justify-content: center;
}

.latest-works__filter li+li {
    margin-left: 25px;
}

.latest-works__filter li:hover {
    color: #c0301c;
}

.latest-works__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.latest-works__gallery__item:not(:nth-child(3n+1)){
    margin-left: 30px;
}

.latest-works__gallery__item {
    position: relative;
    margin-bottom: 30px;
}

.latest-works__gallery__item-bg {
    position: absolute;
    background-color: rgba(192,48,28, 0);
    width: 360px;
    height: 320px;
    transition: all .4s;
}

.latest-works__gallery__item:hover .latest-works__gallery__item-bg {
    background-color: rgba(192,48,28, 0.7);
}

.latest-works__gallery__item__additional-info {
    display:none;
    position: absolute;
    color: #ffffff;
    left: 0;
    right: 0;
    top:120px;
    text-align: center;
    
}

.latest-works__gallery__item:hover .latest-works__gallery__item__additional-info {
    display: flex;
    flex-direction: column;
    
}

.additional-info__title {
    font-size: 18px;
}

.additional-info__subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-top: 15px;
}

.view-btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #c0301c;
    margin-top: 25px;
    padding: 10px 15px;
}

.view-btn:after {
    content:">";
    font-size: 24px;
    vertical-align: middle;
    margin-left: 5px;
}

/* Раздел Latest works */

/* Раздел Call to action */

.call-to-action__section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/section-bg.jpg) no-repeat top center;
    text-align: center;
    color: #ffffff;
    height: 370px;
}

.call-to-action__section__text {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 50px;
}

.call-to-action__section__wrapper {
    width: 500px;
    height: 170px;
    
}
/* Раздел Call to action */

/* Раздел Recent Blog */

.recent-posts {
    padding-bottom: 100px;
}

.recent-posts__article {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    margin-top: 38px;
}

.recent-posts__article__content {
   margin-left: 30px;
}

.recent-posts__article__header {
    display: flex;
    flex-direction: row;
}

.recent-posts__article__heading {
    margin-left: 25px;
    
}

.recent-posts__article__date {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    padding: 18px 21px;
    border: 2px solid #555555;
    color: #777777;
}

.recent-posts__article__date span {
    font-size: 16px;
}

.recent-posts__article__title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 20px;
}

.recent-posts__article__author {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-style: italic;   
    color: #777777;
}


.recent-posts__article__text {
    font-family: 'Roboto Slab', serif;
    color: #555555;
}

.recent-posts__article__btn {
    margin-top: 30px;
}

.read-more__btn {
    font-weight: 700;
    text-transform: uppercase;
    color: #777777;
}

.recent-posts__article:hover .read-more__btn,
.recent-posts__article:hover .recent-posts__article__title,
.recent-posts__article:hover .recent-posts__article__author span {
    color: #c0301c;
}

.recent-posts__article:hover .recent-posts__article__date {
    color:#c0301c;
}
/* Раздел Recent Blog */

/* Раздел Clients */

.clients {
    background-color: #f8f8f8;
}

.clients-slider {
    padding-top: 100px;
}

.clients__info {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    max-width: 800px;
    color: #555555;
    margin: 0 auto;
    padding-bottom: 100px;
}
.clients__info__text {
    font-style: italic;
}
.clients__info__author {
    font-size: 20px;
    margin-top: 40px;
}
/* Раздел Clients */

/* Раздел Contacts (Get in touch) */

.contacts {
    padding-bottom: 100px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contacts-row {
    min-width: 365px;
}

.contacts-row__item {
    margin-bottom: 35px;
    display: flex;
    
}

.contacts-row__item__icon {
    height: 100%;
    margin-top: 7px;
}

.contacts-row__item__wrapper {
    margin-left: 15px;
}

.contacts-row__item__info {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
}

.contacts-row__item__title {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    color: #555555;
}

.contacts-form {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.main-form {
    display: flex;
    flex-wrap: wrap;
}

.main-form input[type=text] {
    font-family: inherit;
    font-size: inherit;
    width: 350px;
    padding: 15px;
    border: 1px solid #555555;
}

.main-form input[type=submit] {
    font-family: inherit;
    font-size: inherit;
    width: 170px;
    padding: 15px;
    margin-top: 20px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #555555;
}

.main-form textarea {
    font-family: inherit;
    font-size: inherit;
    width: 730px;
    height: 100px;    
    padding: 15px;
    border: 1px solid #555555;
    resize: none;
}

.main-form input[type=text] {
    margin-bottom: 20px;
}

.main-form input[type=text]:focus,
.main-form input[type=text]:active,
.main-form textarea:focus,
.main-form textarea:active,
.main-form input[type=submit]:focus,
.main-form input[type=submit]:active {
    outline-color:#c0301c;
}

.main-form input[type=text]:not(:nth-child(2n+1)) {
    margin-left: 30px;
}

.main-form p {
    text-transform: none;
    margin-left: 40px;
    margin-top: 35px;
    color: #555555;
}


.main-form span {
    color:#c0301c;
}
/* Раздел Contacts (Get in touch) */

/* Футер */

.footer {
    display: flex;
    align-items: center;
    background-color: #c0301c;
    max-height: 300px;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.footer__socials__logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}


.footer__socials__logos li {
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    padding: 7px;
    transition: all .3s;
}

.footer__socials__logos li:hover {
    background-color: lightsalmon;
    border-color: coral;
}

.footer__socials__logos li+li {
    margin-left: 10px;
}

.footer__socials__logos img {
    
}

.footer__socials__logos a {
    align-items: center;
    
}

.footer__socials__text {
    position: relative;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__socials__text::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    
}

/* Футер */

