/* Общие стили */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Общие стили */

/* Хедер */
.header {
    background: url("/img/header-bg.jpg") top center no-repeat;
    /* background-size: cover; */
    color: #ffffff;
}

.header__inner {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header__row {
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: flex-end;
}

.header__logo {
    display: flex;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
}

.header__nav li:not(:first-child) {
    padding-left: 35px;
}

.header__nav a:hover {
    color: #d4e77b;    
}

.header__info {
    text-align: center;
}

.header__info-wrapper {
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 600px;
}

.header__title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
}

.header__subtitle {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}

.btn {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 30px;
    border: 3px solid #ffffff;
    text-transform: uppercase;
}

.btn:hover {
    color: #d4e77b;
    border-color: #d4e77b;
}

.header__btn {

}
/* Хедер */

/* Раздел Services */

.services {
    background-color: #ffffff;
}

.section__info {
    position: relative;
    padding-top: 100px;
    text-align: center;
    color: #555555;
    margin-bottom: 70px;
}
.section__title {
    font-size: 20px;
    text-transform: uppercase;
    
}

.section__title:after {
    content: "";
    position: absolute;
    background-color: #555555;
    height: 2px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 50px;
}

.section__subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-top: 60px;
}

.services__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.services__item {
    color: #555555;
    text-align: center;
    width: 365px;
    margin-bottom: 50px;
}

.services__item__icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    background-image:url(../img/services-font-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.services__item__icon:hover {
    background-color: #c0301c;
    background-image:url(../img/services-font-icon-hover.png);
}

.services__item__icon-2 {
    background-image:url(../img/services-code-icon.png);
}

.services__item__icon-2:hover {
    background-image:url(../img/services-code-icon-hover.png);
}

.services__item__icon-3 {
    background-image:url(../img/services-support-icon.png);
}

.services__item__icon-3:hover {
    background-image:url(../img/services-support-icon-hover.png);
}

.services__item__title {
    text-transform: uppercase;
    
}

.services__item__text {
    font-family: 'Roboto Slab', serif;
    margin-top: 25px;
}

/* Раздел Services */

/* Раздел About-Us */

.about-us {
    background-color: #f8f8f8;
}

.about-us__articles {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    color: #555555;    
    margin-bottom: 70px;
}

/* Слайдер */

.about-us__slider {
    display: flex;
    justify-content: space-between;
}

.about-us__slider__item {
    text-align: center;
    color: #555555;
}

.about-us__slider__item__name {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 20px;
}

.about-us__slider__item__position {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
}

/* .about-us__slider__item__img__wrapper {
    position: relative;
} */

.about-us__slider__item__img {
    width: 263px;
    height: 250px;
}

.about-us__slider__item__img-bg {
    position: absolute;
    background-color: rgba(85, 85, 85, 0);
    width: 263px;
    height: 250px;
    transition: all .3s;
}

.about-us__slider__item__img-bg:hover {
    background-color: rgba(85, 85, 85, 0.5);
}


/* Слайдер */

/* Раздел About-Us */